<wrapper class="header">
  <container class="no-bg">
    <row class="collapse">
      <columns small="12">
        <a href="http://www.xavier.edu/alumni">
          <center>
          {{#unless logo}}
          	<img src="http://www.xavier.edu/brand/emails_assets/xavier-wordmark.png" 
          	  width="{{#if width}} {{width}} {{width}} {{else}} 300 {{/if}}" 
          	  height="{{#if height}} {{height}} {{else}} 75 {{/if}}" alt="Xavier University" />
          {{else}}
          	<img src="http://www.xavier.edu/brand/emails_assets/xavier-logo.png" 
          	  width="{{#if width}} {{width}} {{width}} {{else}} 133 {{/if}}" 
          	  height="{{#if height}} {{height}} {{else}} 121 {{/if}}" alt="Xavier University" />
          {{/unless}}
          </center>
        </a>
      </columns>
    </row>
  </container>
</wrapper>