<row>
  <columns small="12">
    <p>{{ First_Name }},</p>
    
    <p>Hey. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tellus et neque feugiat molestie. Mauris neque nisl, rutrum eget rutrum sed, tristique ut ipsum. Vivamus faucibus quam interdum turpis volutpat finibus. Suspendisse placerat viverra cursus. Donec iaculis iaculis ex vel cursus. Phasellus suscipit nunc in justo vehicula porta. Suspendisse leo ex, imperdiet vel auctor in, elementum a ligula. Etiam vitae suscipit justo. Vestibulum venenatis ex ut ipsum facilisis tincidunt. Curabitur ut felis neque.</p>

<p>Nullam nibh nisl, mattis vitae tempor nec, ultrices quis libero. Vestibulum ultrices laoreet tortor sit amet lacinia. Nam ultrices massa enim, non placerat elit ornare vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse ut maximus metus. Duis iaculis ut libero sit amet aliquam. Maecenas arcu nisi, venenatis condimentum congue non, maximus non magna. Aliquam a arcu vehicula, pharetra felis non, finibus turpis. Aenean sollicitudin ullamcorper mauris ac bibendum.</p>
  </columns>
</row>
<row>
  <columns small="4" large="3">
    <img src="https://unsplash.it/100?image=882" alt="" />
  </columns>
  <columns small="8" large="9">
    <p>
      <strong>First Last</strong><br />
      Title<br />
      <a href="mailto:example@xavier.edu">email@xavier.edu</a><br />
      (513) 745-XXXX
    </p>
  </columns>
</row>
{{> spacer }}